
# PlanAhead Generated physical constraints 

NET "PB1" LOC = V4;
NET "PB2" LOC = H13;
NET "PB3" LOC = K17;
NET "PB4" LOC = D18;

# PlanAhead Generated IO constraints 

NET "PB1" IOSTANDARD = LVTTL;
NET "PB2" IOSTANDARD = LVTTL;
NET "PB3" IOSTANDARD = LVTTL;
NET "PB4" IOSTANDARD = LVTTL;
NET "PB1" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PB2" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PB3" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PB4" CLOCK_DEDICATED_ROUTE = FALSE;
NET "PB1" PULLDOWN;
NET "PB2" PULLDOWN;
NET "PB4" PULLDOWN;
NET "PB3" PULLDOWN;
NET "s[3]" IOSTANDARD = LVTTL;
NET "s[2]" IOSTANDARD = LVTTL;
NET "s[1]" IOSTANDARD = LVTTL;
NET "s[0]" IOSTANDARD = LVTTL;
NET "l[7]" IOSTANDARD = LVTTL;
NET "l[6]" IOSTANDARD = LVTTL;
NET "l[5]" IOSTANDARD = LVTTL;
NET "l[4]" IOSTANDARD = LVTTL;
NET "l[3]" IOSTANDARD = LVTTL;
NET "l[2]" IOSTANDARD = LVTTL;
NET "l[1]" IOSTANDARD = LVTTL;
NET "l[0]" IOSTANDARD = LVTTL;
NET "g[7]" IOSTANDARD = LVTTL;
NET "g[6]" IOSTANDARD = LVTTL;
NET "g[5]" IOSTANDARD = LVTTL;
NET "g[4]" IOSTANDARD = LVTTL;
NET "g[3]" IOSTANDARD = LVTTL;
NET "g[2]" IOSTANDARD = LVTTL;
NET "g[1]" IOSTANDARD = LVTTL;
NET "g[0]" IOSTANDARD = LVTTL;
NET "e[7]" IOSTANDARD = LVTTL;
NET "e[6]" IOSTANDARD = LVTTL;
NET "e[5]" IOSTANDARD = LVTTL;
NET "e[4]" IOSTANDARD = LVTTL;
NET "e[3]" IOSTANDARD = LVTTL;
NET "e[2]" IOSTANDARD = LVTTL;
NET "e[1]" IOSTANDARD = LVTTL;
NET "e[0]" IOSTANDARD = LVTTL;
NET "e[7]" DRIVE = 8;
NET "e[6]" DRIVE = 8;
NET "e[5]" DRIVE = 8;
NET "e[4]" DRIVE = 8;
NET "e[3]" DRIVE = 8;
NET "e[2]" DRIVE = 8;
NET "e[1]" DRIVE = 8;
NET "e[0]" DRIVE = 8;
NET "g[7]" DRIVE = 8;
NET "g[6]" DRIVE = 8;
NET "g[5]" DRIVE = 8;
NET "g[4]" DRIVE = 8;
NET "g[3]" DRIVE = 8;
NET "g[2]" DRIVE = 8;
NET "g[1]" DRIVE = 8;
NET "g[0]" DRIVE = 8;
NET "l[7]" DRIVE = 8;
NET "l[6]" DRIVE = 8;
NET "l[5]" DRIVE = 8;
NET "l[4]" DRIVE = 8;
NET "l[3]" DRIVE = 8;
NET "l[2]" DRIVE = 8;
NET "l[1]" DRIVE = 8;
NET "l[0]" DRIVE = 8;

# PlanAhead Generated physical constraints 

NET "s[0]" LOC = L13;
NET "s[1]" LOC = L14;
NET "s[3]" LOC = N17;
NET "s[2]" LOC = H18;

# PlanAhead Generated IO constraints 

NET "s[3]" PULLUP;
NET "s[2]" PULLUP;
NET "s[1]" PULLUP;
NET "s[0]" PULLUP;

# PlanAhead Generated physical constraints 

NET "l[0]" LOC = F12;
NET "g[0]" LOC = E12;
NET "e[0]" LOC = E11;
